In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df_ords = pd.read_csv(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Original data\4.3_orders_products\orders.csv', index_col = False)

In [3]:
df_ords_prior = pd.read_csv(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Original data\4.3_orders_products\order_products__prior\order_products__prior.csv', index_col = False)

In [4]:
df_departments_wrangled = pd.read_csv(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Prepared data\departments_wrangled.csv', index_col = False)

In [5]:
df_prods = pd.read_csv(r'C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Original data\4.3_orders_products\products.csv', index_col = False)

In [25]:
df_ords_prior.shape

(32434489, 4)

In [26]:
df_ords.shape

(3421083, 7)

In [27]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [29]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

MemoryError: Unable to allocate 495. MiB for an array with shape (2, 32434489) and data type int64

In [ ]:
df_merged_large.head()

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
right_only           0
left_only            0
Name: _merge, dtype: int64

In [16]:
path = r"C:\Users\ms207\Desktop\CF\4\19012022 Instacart Basket Analysis\02 Data\Prepared data"

In [17]:
df_merging= df_prods.merge(df_departments_wrangled, on = 'department_id', indicator = True)

In [18]:
df_merging.head(100)

,product_id,product_name,aisle_id,department_id,prices,department,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,snacks,both
1,16,Mint Chocolate Flavored Syrup,103,19,5.2,snacks,both
2,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9,snacks,both
3,32,Nacho Cheese White Bean Chips,107,19,4.9,snacks,both
4,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5,snacks,both
...,...,...,...,...,...,...,...
95,733,Cinnamon Pop'ettes,61,19,3.1,snacks,both
96,739,Gourmet Australian Style Liquorice,45,19,5.9,snacks,both
97,749,Dark Chocolate Bar 68% Cacao,45,19,4.1,snacks,both
98,756,Malt Vinegar & Sea Salt Kettle Cooked Potato C...,107,19,2.0,snacks,both
99,760,Cracker Trio Selected Favorites,78,19,2.8,snacks,both

In [19]:
df_merging.to_csv(os.path.join(path, 'df_merging.csv'))

## 4.6 assignment

In [16]:
# 2
df_merged_large.to_pickle(os.path.join(path, 'orders_products_combined.pkl'))

In [18]:
df_merged_large.to_csv(os.path.join(path, 'orders_products_combined.csv'))

MemoryError: Unable to allocate 1.11 MiB for an array with shape (1, 9090) and data type <U32